

.header{
    width: 1400px;
    height: 100px;
    background-color:black;
    text-decoration:none;
}
#mid{
    width:1400px;
    height: 400px;
    background-color: silver;
    display:flex;
    align-items: center;
    justify-content: center;
}
#footer{
    width:1400px;
    height:100px;
    background-color: white; 
}
#go{
    text-decoration:none;
    left-padding:10px;
    top-margin:15px; 
    font-family:arial;
    font-size:30px; 
}
#go  a {
color:blue;
text-decoration:none;
}
#go  a:hover
{
color : red;
}
#go  a:visited
{
color : green;
}
.login{
    width:1400px;
    height:600px;
    background-color:silver;
    align:center;   
}
.flex {
    height: 300px;
    width: 450px;
    border-color: blue;
    background-color:white;
   
}
.name {
    display:flex;
    justify-content: space-between;
    flex-align:space-between;
}
.nameText {
    display:flex;
    justify-content: space-between;
    flex-align:space-between;
}
.email {
    display:flex;
    flex-direction: row; 
    row-gap:50px;
}
.emailText {
    display:flex;
    flex-direction:row;
    justify-content:block;
    row-gap:50px;
    
}
.addresText {
    display:flex;
    /* flex-align:space-between; */
}
.addres {
    display:flex;
    justify-content: space-between;
    
}
.mobile {
    display:flex;
    justify-content: space-between;   
}
.mobileText {
    display:flex;
    justify-content: space-between;
    
}
