

.header{
    width: 1400px;
    height: 100px;
    background-color:black;
    text-decoration:none;
}
#mid{
    width:1400px;
    height: 400px;
    background-color: silver;
    display:flex;
    align-items: center;
    justify-content: center;
}
#footer{
    width:1400px;
    height:100px;
    background-color: white; 
}
#go{
    text-decoration:none;
    left-padding:10px;
    top-margin:15px; 
    font-family:arial;
    font-size:30px; 
}
#go  a {
color:blue;
text-decoration:none;
}
#go  a:hover
{
color : red;
}
#go  a:visited
{
color : green;
}
.login{
    width:1400px;
    height:600px;
    background-color:silver;
    align:center;   
}
.flex {
    height: 300px;
    width: 450px;
    border-color: blue;
    background-color:white;
    /* display:flex;
    justify-content: space-between; */
}
.first ul{
    display:flex;
    justify-content: space-between
}
.FirstText ul{
    display:flex;
    justify-content: space-between
}
.email ul{
    display:flex;
    /* justify-content: space-between */
    flex: auto;
}
.emailtext ul{
    display:flex;
    /* justify-content: space-between */

}
.emailtext li{
    
    flex:1 1 auto;
}
.addres ul{
    display:flex;
    justify-content: space-between
}
.addresText ul{
    display:flex;
    /* justify-content: space-between */
}
.mobile ul{
    display:flex;
    justify-content: space-between
}
.mobiletext ul{
    display:flex;
    justify-content: space-between
}
