<head>
    <link rel="stylesheet" type="text/css" href="include.css">
</head>

<div class='login'>
    <div class='header'>
        <div id='go'>
            <a href='registration.html'>SingUp</a>
        </div>
    </div>
    <div id="mid">

        <body>
            <form action="#" method="POST">
                <table>
                    <tr>
                        <td> User-name:</td>
                        <td><input type='text' name="fname"></td>
                    </tr>
                    <tr>
                        <td> Password:</td>
                        <td><input type='text' name="lname"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="submit"></td>
                    </tr>
                </table>
            </form>

    </div>
    <div id="footer">
        <h1>this site is reserved</h1>
    </div>


</div>
</body>

</html>