
<head>
        <link rel="stylesheet" type="text/css" href="include.css">
        </head>
<div class='login'>
    <div class='header'>
    <div id="go">
        <a href='login1.html'>Login</a>
        <a href='registration.html'>SingUp</a>
    </div>
    </div>
    <div id="mid">
    <h1>Hi</h1>
    </div>
    <div id="footer">
        <h1>this site is rserved</h1>
    </div>
</div>


   