<head>
    <link rel="stylesheet" type="text/css" href="include.css">
</head>
<div class='login'>
    <div class='header'>
        <div id='go'>
            <a href='login.html'>Login</a>
        </div>
    </div>
    <div id="mid">

        <body>
            <div class="flex">
                <form name="form1" action="#" method="POST" onsubmit="require()">
                    <div class="first">
                        <ul>
                            <li> First-name</li>
                            <li>Last-name</li>
                        </ul>
                    </div>
                    <div class="FirstText">
                        <ul>
                            <li><input type='text' name="fname" id='p1'></li>
                            <li><input type='text' name="lname"></li>
                        </ul>
                    </div>
                    <div class="email">
                        <ul>
                            <li> Email</li>

                        </ul>
                    </div>
                    <div class="emailtext">
                        <ul>
                            <li><input type='email' name="email" id='p4'></li>
                        </ul>
                    </div>
                    <div class="addres">
                        <ul>
                            <li>Flate NO.</li>
                            <li>Land mark</li>
                            <li>City</li>
                        </ul>
                    </div>
                    <div class="addresText">
                        <ul>
                            <li><input type="text" name="flate"></li>
                            <li><input type="text" name="landmark"></li>
                            <li><input type="text" name="city"></li>
                        </ul>
                    </div>
                    <div class="mobile" list-style: none;>
                        <ul type=none>
                            <li>Mobile</li>
                            <li>DOB</li>
                        </ul>
                    </div>
                    <div class="mobiletext">
                        <ul>
                            <li><input type='text' name="MN"></li>
                            <li><input type='text' name="DOB"></li>
                        </ul>
                    </div>




                    <!-- Password:
                        <input type='text' name="pass"><br> -->

                    <input type="submit" value="submit">

                </form>
                <script src="required.js"></script>
            </div>

    </div>
    <div id="footer">
        <h1>this site is reserved</h1>
    </div>
</div>
</body>